h1{
    background: grey;
    border: 3px grey thin;
    border-radius: 5px;
    padding-left: 10px;
}

.text{
    border: 5px #88ee84 solid;
    border-radius: 3 px;
    font-size: medium;
    margin: 10px;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.special_text{
    font-size: 24px;
    font-style: italic;
    text-shadow: #88ee84 1px 0 10px;
    margin-right: auto;
    margin-left: auto;
    width: 10em;    
}

.middle{
    text-align: center;
}
